@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
}

.loader {
  width: 250px;
  height: 250px;
}

/* Header.js */
.heading {
  color: black;
  padding: 2rem;
  padding-left: 1rem;
}

.personal-info{
  padding: 15px;
  background:#2A2223;
  color:white;
  font-size:10px;
  font-weight: bolder;
  width: 100%;
  display: flex;
  align-items: left;
}

.header-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  font-size: 2rem;
}

/* InputComponent.js */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  padding: 0.5rem;
  width: 50%;
  border-radius: 5px;
  border: 1.5px solid #5daae0;
  outline: none;
}
.input-field:focus{
  border: 1.5px solid #27AE60;
}
.button-submit {
  background: #3498DB;
  font-weight: bold;
  /* border: none;
  outline: none; */
  padding: 0.5rem 0.5rem;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  border-color: #5daae0;
  cursor: pointer;
}
.button-submit:hover{
  background:#27AE60;
  border-color: #7DCEA0;
}
/* cards */
.cards {
  border: 1px solid #D0D3D4;
  box-shadow:0px 4px 4px #B3B6B7;
  width: 35%;
  height: 100%;
  padding: 0rem;
  margin: 20px auto;
  transition: 0.2s;
  font-weight: bolder;
}
.cards:hover
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-cont {
  justify-self: flex-start;
}

.avatar {
  width: 180px;
  height: 180px;
  padding: 5px;
  border-radius: 50%;
}

.card-detail {
  display: flex;
}

.icon-box {
  margin: 10px;
  padding-top: 15px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  color: #fff;
  width: 90px;
  height: 80px;
}

.count {
  font-size: 26px;
  font-weight: bold;
}

.property {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 1rem;
  }
  .cards {
    width: 90%;
  }
  .avatar {
    width: 90%;
    height: 90%;
    /* padding: 5px;
    border-radius: 50%; */
  }
  .icon-box {
    margin: 10px;
    padding: 2px;
    width: 70px;
    height: 60px;
  }
  
}
